body {
    background-image: url("https://images2.alphacoders.com/261/26102.jpg");
    background-repeat: no-repeat;
}


#slider {
    width: 373px;
    height: 550px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 373px;
    height: 400px;
}
